@page
@model GeologyDemo.Web.Pages.DatatableModel
@{
}
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Datatable</h3>

            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Datatable</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <!--<div class="card-header">
                Simple Datatable
            </div>-->
            <div class="card-body">
                <table class='table table-striped' id="table1">
                    <thead>
                        <tr>
                            <th>Area</th>
                            <th>Context</th>
                            <th>Excavation Method</th>
                            <th>Sample Number</th>
                            <th>Material</th>
                            <th>Open Date</th>
                            <th>Close Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Experiments)
                        {
                        <tr>
                            <td>@item.Area.Name</td>
                            <td>@item.Context</td>
                            <td>@item.ExcavationMethod</td>
                            <td>@item.SampleNumber</td>
                            <td>@item.Material.Name</td>
                            <td>@item.OpenDate</td>
                            <td>@item.CloseDate</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>